

body {
    font-family: sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 16px;
    font-weight: normal;

    text-align: center;
   
}

img {
    
    margin: auto;

    border: black solid 2px;
}

a {
    color: black;
    text-decoration: none;
}
