body {
    font-family: sans-serif;
    font-size: 14px;
}

hr {
    
    height: 2px;
    background-color: black;
}

h1 {
    font-size: 17px;
    font-weight: normal;

    text-align: center;
   
}

figcaption {
    margin-left: 277px;
}

img.product{
    border: black solid 3px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img:hover {
    color: yellow;
}


a {
    color: black;
    text-decoration: none;
}

#nav {
    font-size: 14px;
    text-align: center;
}

a.select {
   font-weight: bold;
   background-color: yellow;
}

#dropdown {
    margin-left: 320px;
}

h4 {
    font-size: 11px;
    text-align: center;
}

p {
    text-align: center;
}

p.details {
    text-align: left;
    margin-left: 320px;
}

h2 {
    font-weight: normal;
    text-align: center;
    font-size: 15px;
}

#button {
    text-align: center;
}