/*--------------BODY-------------------*/
body {
    font-family: sans-serif;
}


/*--------------HEADER-------------------*/
#header {
    display: flex;
    width: 100%;
    height: 150px;
    margin-top: 15px;
    margin-left: 25px;
    top: 0px;
    justify-content:space-between;
}

hr {
    width: 100%;
  }


.header-right {
    float: right;
    display: flex;
    flex-direction: column;

    margin-top: 25px;
    margin-right: 75px;
    width: 66%;
}

.header-left {
    float: left;
    flex-grow: 1;
}

.nav {
    align-items: right;
    display: flex;
    flex: 00 auto;
    flex: 10 auto;
}


/*--------------PRODUCTS-------------------*/
#products {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px; 
    margin-top: 25px;
}

/*.products-row-1, .products-row-2 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 50px;
    margin-right: 50px; 
    margin-top: 25px;
}*/
