body {
  display: flex;
  flex-direction: column;
  font-family:'Times New Roman', Times, serif;
  color: #b3315c;
}


/*--------------HEADER-------------------*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #FBE7E9;
    padding: 30px 30px 30px 30px;
    
}


nav a {
  font-weight: 550;
  font-size: 25px;
  text-decoration: none;
  padding: 10px 20px;
  font-family: 'helvetica';
  font-stretch: 85%;
  background: -webkit-linear-gradient(#DA2533, #7F4293);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*--------------INTRODUCTION-------------------*/
#intro {
  padding: 300px 30px 0px 30px;
  background-color: #FBE7E9;
  align-items: center;
 
}

#intro h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #7F4293;
  font-size: 67px;
  font-weight: 500;
}

/*--------------ARROW-------------------*/
.arrow{
  box-sizing: border-box;
  height: 3vw;
  width: 3vw;
  border-style: solid;
  border-color: #DA2533;
  border-width: 0px 4px 4px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 7px;
  border-right-width: 7px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FBE7E9;
  height: 30vh;
}


/*--------------TOGGLE-------------------*/

  * {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  *:focus {
    outline: none;
  }


  #app-cover {
    display: table;
    width: 600px;
    margin: 80px auto;
    counter-reset: button-counter;
  }

  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .button {
    position: relative;
    top: 30%;
    width: 250px;
    height: 50px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }
  
  .button.r,
  .button.r .layer {
    border-radius: 8%;
  }
  
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #FBE7E9;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  /* Button*/
  #button-1 .knobs:before {
    content: "Featured";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 120px;
    height: 40px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 12px;
    text-align: center;
    line-height: 1;
    padding: 12px 6px;
    background-color: #DA2533;
    border-radius: 10%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  }
  
  #button-1 .checkbox:checked + .knobs:before {
    content: "All";
    color:#DA2533;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 12px;
    text-align: center;
    left: 124px;
    background-color: white;
    width: 120px;
    height: 40px;
  }
  
  #button-1 .checkbox:checked ~ .layer {
    background-color: #fcebeb;
  }
  
  #button-1 .knobs,
  #button-1 .knobs:before,
  #button-1 .layer {
    transition: 0.3s ease all;
  }
  

/*--------------TIMELINE-------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul {
  padding: 40px 0;
}

ul li {
  position: relative;
  list-style-type: none;
  width: 5px;
  background-color: #7F4293;
  margin: 0 auto;
  padding-top: 0px;
}

ul li:nth-child(odd)::after {
  background: #DA2533;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position:absolute;
  left:50%;
  transform: translate3d(-50%, -800%, 0);
  bottom: 0;
}

ul li:nth-child(even)::after {
    background: #DA2533;
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position:absolute;
    left:50%;
    transform: translate3d(-50%, -800%, 0);
    bottom: 0;
  }


ul li:nth-child(even) div {
  left: 75px;
}

ul li:nth-child(odd) div {
  left: -755px;
}

ul li:nth-child(odd) time {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  padding-left: 15px;
  transform: translate3d(-70px, 250px, 0);
}

ul li:nth-child(even) time {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  padding-left: 15px;
  transform: translate3d(12px, 250px, 0);
}


ul li:nth-child(even) div {
  transform: translate3d(200px, 0, 0);
}

ul li:nth-child(odd) div {
  transform: translate3d(-200px, 0, 0);
}

ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

ul li div {
  position: relative;
  width: 700px;
  height: 430px;
  padding: 5px;
  border-radius: 5px;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}


.cover_img {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


/*.title_contain {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}*/

.card:hover .cover_img {
  filter: drop-shadow(10px 10px 4px #acacac);
  opacity: 0.3;
}

/*.card:hover .title_contain {
  opacity: 1;
}*/

.project_title {
  font-size: 35px;
  color: #7F4293;
  opacity: 0;
}


@media screen and (max-width: 900px) {
  ul li div {
    width: 250px;
  }
  ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

/*--------------FOOTER-------------------*/
#main-content {
  display: flex;
  flex-direction: column;
  padding: 80px 30px 0px 30px; 
}

/*--------------FOOTER-------------------*/
#footer {
    display: flex;
    background-color: #FBE7E9;
    padding: 30px 30px 30px 30px;
    justify-content: right;
}

#icons {
  padding: 0 10px;
}