body {
  display: flex;
  flex-direction: column;
  font-family: 'helvetica';
  color: #b3315c;
}

#main-content {
  display: flex;
  flex-direction: column;
  padding: 80px 30px 0px 30px; 
}


/*--------------HEADER-------------------*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #FBE7E9;
    padding: 30px 30px 30px 30px;
}


nav a {
  font-weight: 550;
  font-size: 25px;
  text-decoration: none;
  padding: 10px 20px;
  font-family: 'helvetica';
  font-stretch: 85%;
  background: -webkit-linear-gradient(#DA2533, #7F4293);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*--------------INTRODUCTION-------------------*/
#intro {
  padding: 300px 30px 0px 30px;
  background-color: #FBE7E9;
  align-items: center;
 
}

#intro h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #7F4293;
  font-size: 67px;
  font-weight: 500;
}

/*--------------ARROW-------------------*/
.arrow{
  box-sizing: border-box;
  height: 3vw;
  width: 3vw;
  border-style: solid;
  border-color: #DA2533;
  border-width: 0px 4px 4px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 7px;
  border-right-width: 7px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FBE7E9;
  height: 30vh;
}


/*--------------TIMELINE-------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul {
  padding: 40px 0;
}

ul li {
  position: relative;
  list-style-type: none;
  width: 5px;
  background-color: #7F4293;
  margin: 0 auto;
  padding-top: 0px;
}

ul li:nth-child(odd)::after {
  background: #DA2533;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position:absolute;
  left:50%;
  transform: translate3d(-50%, -800%, 0);
  bottom: 0;
}

ul li:nth-child(even)::after {
    background: #DA2533;
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position:absolute;
    left:50%;
    transform: translate3d(-50%, -800%, 0);
    bottom: 0;
  }


ul li:nth-child(even) div {
  left: 125px;
}

ul li:nth-child(odd) div {
  left: -755px;
}

ul li:nth-child(odd) time {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  padding-left: 15px;
  transform: translate3d(-70px, 250px, 0);
}

ul li:nth-child(even) time {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  padding-left: 15px;
  transform: translate3d(12px, 250px, 0);
}


ul li:nth-child(even) div {
  transform: translate3d(200px, 0, 0);
  border-radius: 25px;
}

ul li:nth-child(odd) div {
  transform: translate3d(-200px, 0, 0);
}

ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

ul li div {
  position: relative;
  width: 700px;
  height: 430px;
  padding: 5px;
  border-radius: 5px;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}


.cover_img {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}




.card:hover .cover_img {
  filter: drop-shadow(10px 10px 4px #9a9a9a);
  opacity: 0.3;
}

.project_title {
  font-size: 35px;
  color: #7F4293;
  opacity: 0;
}


@media screen and (max-width: 900px) {
  ul li div {
    width: 250px;
  }
  ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}



/*--------------FOOTER-------------------*/
#footer {
    display: flex;
    background-color: #FBE7E9;
    padding: 30px 30px 30px 30px;
    justify-content: right;
}

#icons {
  padding: 0 10px;
}