body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
/*--------------HEADER-------------------*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #FBE7E9;
    padding: 30px 30px 30px 30px;
    
}


nav a {
  font-weight: 550;
  font-size: 25px;
  text-decoration: none;
  padding: 10px 20px;
  font-family: 'helvetica';
  font-stretch: 85%;
  background: -webkit-linear-gradient(#DA2533, #7F4293);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*--------------INTRO-------------------*/
#summary, #intro_details {
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
}

/*--------------FOOTER-------------------*/
#footer {
    display: flex;
    background-color: #FBE7E9;
    padding: 30px 30px 30px 30px;
    justify-content: right;
}

#icons {
  padding: 0 10px;
}