body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
h3 {
    color: #DA2533;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

h5 {
    color: #7F4293;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

/*--------------HEADER-------------------*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #FBE7E9;
    padding: 30px 30px 30px 30px;
    
}


nav a {
  font-weight: 550;
  font-size: 25px;
  text-decoration: none;
  padding: 10px 20px;
  font-family: 'helvetica';
  font-stretch: 85%;
  background: -webkit-linear-gradient(#DA2533, #7F4293);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*--------------INTRO-------------------*/

#summary {
    padding: 30px 60px 0px 60px;
    letter-spacing: 1px;
    font-weight: 1px;
    font-size: 25px;
    font-family: 'helvetica';
    font-stretch: 95%;
}

#intro p {
    padding: 30px 30px;
}

.research, .iterations, .final {
    padding: 0px 60px;
}


h3 {
    font-size: 50px;
}




/*--------------RESEARCH-------------------*/
#research_content {
    display: flex;
    padding: 20px;
    flex-direction: column;
}


/*--------------ITERATIONS-------------------*/
#design_content, #testing_content {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

/*--------------FINAL-------------------*/
#final_media {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------FOOTER-------------------*/
#footer {
    display: flex;
    background-color: #FBE7E9;
    padding: 30px 30px 30px 30px;
    justify-content: right;
}

#icons {
  padding: 0 10px;
}